In [14]:
import pandas as pd
import json

In [20]:
with open('json files\match_results.json') as f:
    data = json.load(f)
df_match = pd.DataFrame(data['matchSummary'])
df_match

,team1,team2,winner,margin,ground,matchDate,scorecard
0,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
1,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
2,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
3,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
4,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701
5,Australia,Bangladesh,Australia,8 wickets,Pune,"Nov 11, 2023",ODI # 4700
6,Afghanistan,South Africa,South Africa,5 wickets,Ahmedabad,"Nov 10, 2023",ODI # 4699
7,New Zealand,Sri Lanka,New Zealand,5 wickets,Bengaluru,"Nov 9, 2023",ODI # 4698
8,England,Netherlands,England,160 runs,Pune,"Nov 8, 2023",ODI # 4697
9,Afghanistan,Australia,Australia,3 wickets,Wankhede,"Nov 7, 2023",ODI # 4696
10,Bangladesh,Sri Lanka,Bangladesh,3 wickets,Delhi,"Nov 6, 2023",ODI # 4695
11,India,South Africa,India,243 runs,Eden Gardens,"Nov 5, 2023",ODI # 4694
12,Australia,England,Australia,33 runs,Ahmedabad,"Nov 4, 2023",ODI # 4693
13,New Zealand,Pakistan,Pakistan,21 runs,Bengaluru,"Nov 4, 2023",ODI # 4692
14,Afghanistan,Netherlands,Afghanistan,7 wickets,Lucknow,"Nov 3, 2023",ODI # 4691
15,India,Sri Lanka,India,302 runs,Wankhede,"Nov 2, 2023",ODI # 4690
16,New Zealand,South Africa,South Africa,190 runs,Pune,"Nov 1, 2023",ODI # 4689
17,Bangladesh,Pakistan,Pakistan,7 wickets,Eden Gardens,"Oct 31, 2023",ODI # 4688
18,Afghanistan,Sri Lanka,Afghanistan,7 wickets,Pune,"Oct 30, 2023",ODI # 4687
19,India,England,India,100 runs,Lucknow,"Oct 29, 2023",ODI # 4686
20,Bangladesh,Netherlands,Netherlands,87 runs,Eden Gardens,"Oct 28, 2023",ODI # 4685
21,Australia,New Zealand,Australia,5 runs,Dharamsala,"Oct 28, 2023",ODI # 4684
22,Pakistan,South Africa,South Africa,1 wicket,Chennai,"Oct 27, 2023",ODI # 4683
23,England,Sri Lanka,Sri Lanka,8 wickets,Bengaluru,"Oct 26, 2023",ODI # 4682
24,Australia,Netherlands,Australia,309 runs,Delhi,"Oct 25, 2023",ODI # 4681
25,Bangladesh,South Africa,South Africa,149 runs,Wankhede,"Oct 24, 2023",ODI # 4680
26,Afghanistan,Pakistan,Afghanistan,8 wickets,Chennai,"Oct 23, 2023",ODI # 4679
27,India,New Zealand,India,4 wickets,Dharamsala,"Oct 22, 2023",ODI # 4678
28,England,South Africa,South Africa,229 runs,Wankhede,"Oct 21, 2023",ODI # 4677
29,Netherlands,Sri Lanka,Sri Lanka,5 wickets,Lucknow,"Oct 21, 2023",ODI # 4676
30,Australia,Pakistan,Australia,62 runs,Bengaluru,"Oct 20, 2023",ODI # 4675
31,India,Bangladesh,India,7 wickets,Pune,"Oct 19, 2023",ODI # 4674
32,Afghanistan,New Zealand,New Zealand,149 runs,Chennai,"Oct 18, 2023",ODI # 4673
33,Netherlands,South Africa,Netherlands,38 runs,Dharamsala,"Oct 17, 2023",ODI # 4672
34,Australia,Sri Lanka,Australia,5 wickets,Lucknow,"Oct 16, 2023",ODI # 4671
35,Afghanistan,England,Afghanistan,69 runs,Delhi,"Oct 15, 2023",ODI # 4670
36,India,Pakistan,India,7 wickets,Ahmedabad,"Oct 14, 2023",ODI # 4669
37,Bangladesh,New Zealand,New Zealand,8 wickets,Chennai,"Oct 13, 2023",ODI # 4668
38,Australia,South Africa,South Africa,134 runs,Lucknow,"Oct 12, 2023",ODI # 4667
39,India,Afghanistan,India,8 wickets,Delhi,"Oct 11, 2023",ODI # 4666
40,Pakistan,Sri Lanka,Pakistan,6 wickets,Hyderabad,"Oct 10, 2023",ODI # 4665
41,Bangladesh,England,England,137 runs,Dharamsala,"Oct 10, 2023",ODI # 4664
42,Netherlands,New Zealand,New Zealand,99 runs,Hyderabad,"Oct 9, 2023",ODI # 4663
43,India,Australia,India,6 wickets,Chennai,"Oct 8, 2023",ODI # 4662
44,South Africa,Sri Lanka,South Africa,102 runs,Delhi,"Oct 7, 2023",ODI # 4661
45,Afghanistan,Bangladesh,Bangladesh,6 wickets,Dharamsala,"Oct 7, 2023",ODI # 4660
46,Netherlands,Pakistan,Pakistan,81 runs,Hyderabad,"Oct 6, 2023",ODI # 4659
47,England,New Zealand,New Zealand,9 wickets,Ahmedabad,"Oct 5, 2023",ODI # 4658

In [21]:
df_match.shape

(48, 7)

In [22]:
df_match.rename({'scorecard': 'match_id'}, axis = 1, inplace = True)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
1,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
2,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
3,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
4,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701

In [24]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

In [26]:
df_match.to_csv('json files\dim_match_summary.csv', index = False)

In [43]:
with open('json files/battinng_summary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['battingSummary'])
  
df_batting = pd.DataFrame(all_records)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,India Vs Australia,India,1,Rohit Sharma(c),c Head b Maxwell,47,31,4,3,151.61
1,India Vs Australia,India,2,Shubman Gill,c Zampa b Starc,4,7,0,0,57.14
2,India Vs Australia,India,3,Virat Kohli,b Cummins,54,63,4,0,85.71
3,India Vs Australia,India,4,Shreyas Iyer,c â€ Inglis b Cummins,4,3,1,0,133.33
4,India Vs Australia,India,5,KL Rahulâ€,c â€ Inglis b Starc,66,107,1,0,61.68
5,India Vs Australia,India,6,Ravindra Jadeja,c â€ Inglis b Hazlewood,9,22,0,0,40.90
6,India Vs Australia,India,7,Suryakumar Yadav,c â€ Inglis b Hazlewood,18,28,1,0,64.28
7,India Vs Australia,India,8,Mohammed Shami,c â€ Inglis b Starc,6,10,1,0,60.00
8,India Vs Australia,India,9,Jasprit Bumrah,lbw b Zampa,1,3,0,0,33.33
9,India Vs Australia,India,10,Kuldeep Yadav,run out (Labuschagne/Cummins),10,18,0,0,55.55
10,India Vs Australia,India,11,Mohammed Siraj,NaN,9,8,1,0,112.50

In [50]:
df_batting['dismissal'].fillna('', inplace=True)
df_batting['out/not_out'] = df_batting.dismissal.apply(lambda x: "out" if isinstance(x, str) and len(x) > 0 else "not_out")
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,India Vs Australia,India,1,Rohit Sharma(c),c Head b Maxwell,47,31,4,3,151.61,out
1,India Vs Australia,India,2,Shubman Gill,c Zampa b Starc,4,7,0,0,57.14,out
2,India Vs Australia,India,3,Virat Kohli,b Cummins,54,63,4,0,85.71,out
3,India Vs Australia,India,4,Shreyas Iyer,c â€ Inglis b Cummins,4,3,1,0,133.33,out
4,India Vs Australia,India,5,KL Rahulâ€,c â€ Inglis b Starc,66,107,1,0,61.68,out
5,India Vs Australia,India,6,Ravindra Jadeja,c â€ Inglis b Hazlewood,9,22,0,0,40.90,out
6,India Vs Australia,India,7,Suryakumar Yadav,c â€ Inglis b Hazlewood,18,28,1,0,64.28,out
7,India Vs Australia,India,8,Mohammed Shami,c â€ Inglis b Starc,6,10,1,0,60.00,out
8,India Vs Australia,India,9,Jasprit Bumrah,lbw b Zampa,1,3,0,0,33.33,out
9,India Vs Australia,India,10,Kuldeep Yadav,run out (Labuschagne/Cummins),10,18,0,0,55.55,out
10,India Vs Australia,India,11,Mohammed Siraj,,9,8,1,0,112.50,not_out

In [51]:
df_batting['match_id'] = df_batting['match'].map(match_ids_dict)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out,match_id
0,India Vs Australia,India,1,Rohit Sharma(c),c Head b Maxwell,47,31,4,3,151.61,out,ODI # 4662
1,India Vs Australia,India,2,Shubman Gill,c Zampa b Starc,4,7,0,0,57.14,out,ODI # 4662
2,India Vs Australia,India,3,Virat Kohli,b Cummins,54,63,4,0,85.71,out,ODI # 4662
3,India Vs Australia,India,4,Shreyas Iyer,c â€ Inglis b Cummins,4,3,1,0,133.33,out,ODI # 4662
4,India Vs Australia,India,5,KL Rahulâ€,c â€ Inglis b Starc,66,107,1,0,61.68,out,ODI # 4662

In [52]:
df_batting.drop(columns=["dismissal"], inplace=True)
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,India Vs Australia,India,1,Rohit Sharma(c),47,31,4,3,151.61,out,ODI # 4662
1,India Vs Australia,India,2,Shubman Gill,4,7,0,0,57.14,out,ODI # 4662
2,India Vs Australia,India,3,Virat Kohli,54,63,4,0,85.71,out,ODI # 4662
3,India Vs Australia,India,4,Shreyas Iyer,4,3,1,0,133.33,out,ODI # 4662
4,India Vs Australia,India,5,KL Rahulâ€,66,107,1,0,61.68,out,ODI # 4662
5,India Vs Australia,India,6,Ravindra Jadeja,9,22,0,0,40.90,out,ODI # 4662
6,India Vs Australia,India,7,Suryakumar Yadav,18,28,1,0,64.28,out,ODI # 4662
7,India Vs Australia,India,8,Mohammed Shami,6,10,1,0,60.00,out,ODI # 4662
8,India Vs Australia,India,9,Jasprit Bumrah,1,3,0,0,33.33,out,ODI # 4662
9,India Vs Australia,India,10,Kuldeep Yadav,10,18,0,0,55.55,out,ODI # 4662

In [53]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,India Vs Australia,India,1,Rohit Sharma(c),47,31,4,3,151.61,out,ODI # 4662
1,India Vs Australia,India,2,Shubman Gill,4,7,0,0,57.14,out,ODI # 4662
2,India Vs Australia,India,3,Virat Kohli,54,63,4,0,85.71,out,ODI # 4662
3,India Vs Australia,India,4,Shreyas Iyer,4,3,1,0,133.33,out,ODI # 4662
4,India Vs Australia,India,5,KL Rahul,66,107,1,0,61.68,out,ODI # 4662

In [54]:
df_batting.shape

(876, 11)

In [56]:
df_batting.to_csv('json files/fact_bating_summary.csv', index = False)

In [57]:
with open('json files/bowling_summary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['bowlingSummary'])
all_records[:2]

[{'match': 'India Vs Australia',
  'bowlingTeam': 'Australia',
  'bowlerName': 'Mitchell Starc',
  'overs': '10',
  'maiden': '0',
  'runs': '55',
  'wickets': '3',
  'economy': '5.50',
  '0s': '30',
  '4s': '4',
  '6s': '1',
  'wides': '3',
  'noBalls': '0'},
 {'match': 'India Vs Australia',
  'bowlingTeam': 'Australia',
  'bowlerName': 'Josh Hazlewood',
  'overs': '10',
  'maiden': '0',
  'runs': '60',
  'wickets': '2',
  'economy': '6.00',
  '0s': '22',
  '4s': '4',
  '6s': '1',
  'wides': '1',
  'noBalls': '0'}]

In [58]:
df_bowling = pd.DataFrame(all_records)
print(df_bowling.shape)
df_bowling.head()

(574, 13)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,India Vs Australia,Australia,Mitchell Starc,10,0,55,3,5.50,30,4,1,3,0
1,India Vs Australia,Australia,Josh Hazlewood,10,0,60,2,6.00,22,4,1,1,0
2,India Vs Australia,Australia,Glenn Maxwell,6,0,35,1,5.83,19,4,1,0,0
3,India Vs Australia,Australia,Pat Cummins,10,0,34,2,3.40,30,0,0,2,0
4,India Vs Australia,Australia,Adam Zampa,10,0,44,1,4.40,22,1,0,1,0

In [59]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,India Vs Australia,Australia,Mitchell Starc,10,0,55,3,5.50,30,4,1,3,0,ODI # 4662
1,India Vs Australia,Australia,Josh Hazlewood,10,0,60,2,6.00,22,4,1,1,0,ODI # 4662
2,India Vs Australia,Australia,Glenn Maxwell,6,0,35,1,5.83,19,4,1,0,0,ODI # 4662
3,India Vs Australia,Australia,Pat Cummins,10,0,34,2,3.40,30,0,0,2,0,ODI # 4662
4,India Vs Australia,Australia,Adam Zampa,10,0,44,1,4.40,22,1,0,1,0,ODI # 4662

In [61]:
df_bowling.to_csv('json files/fact_bowling_summary.csv', index = False)

In [63]:
with open('json files/player_info.json') as f:
    data = json.load(f)

In [64]:
df_players = pd.DataFrame(data)

print(df_players.shape)
df_players.head(10)

(630, 7)

,name,team,battingStyle,playingRole,input,bowlingStyle,description
0,Tanzid Hasan,Australia,Left hand Bat,Opening Batter,{},NaN,NaN
1,Litton Das,Australia,Right hand Bat,Wicketkeeper Batter,{},Right arm Offbreak,Liton Das is the first wicketkeeper-batsman in...
2,Najmul Hossain Shanto(c),Australia,Left hand Bat,Top order Batter,{},Right arm Offbreak,Nazmul Hossain Shanto emerged from an unusual ...
3,Towhid Hridoy,Australia,Right hand Bat,Top order Batter,{},Right arm Offbreak,NaN
4,Mahmudullah,Australia,Right hand Bat,Allrounder,{},Right arm Offbreak,An allrounder who bowls tidy offspin and bats ...
5,Mushfiqur Rahimâ€,Australia,Right hand Bat,Wicketkeeper Batter,{},NaN,One of Bangladesh's longest-serving and most a...
6,Mehidy Hasan Miraz,Australia,Right hand Bat,Allrounder,{},Right arm Offbreak,Mehedi Hasan Miraz has emerged as one of the b...
7,Nasum Ahmed,Australia,Left hand Bat,Bowler,{},Slow Left arm Orthodox,NaN
8,Mahedi Hasan,Australia,Right hand Bat,Allrounder,{},Right arm Offbreak,By the time Mahedi Hasan earned his maiden ODI...
9,Taskin Ahmed,Australia,Left hand Bat,Bowler,{},Right arm Fast,Even before he was anywhere near making his in...

In [65]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('†', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('\xa0', ''))
df_players.head(10)

,name,team,battingStyle,playingRole,input,bowlingStyle,description
0,Tanzid Hasan,Australia,Left hand Bat,Opening Batter,{},NaN,NaN
1,Litton Das,Australia,Right hand Bat,Wicketkeeper Batter,{},Right arm Offbreak,Liton Das is the first wicketkeeper-batsman in...
2,Najmul Hossain Shanto(c),Australia,Left hand Bat,Top order Batter,{},Right arm Offbreak,Nazmul Hossain Shanto emerged from an unusual ...
3,Towhid Hridoy,Australia,Right hand Bat,Top order Batter,{},Right arm Offbreak,NaN
4,Mahmudullah,Australia,Right hand Bat,Allrounder,{},Right arm Offbreak,An allrounder who bowls tidy offspin and bats ...
5,Mushfiqur Rahim,Australia,Right hand Bat,Wicketkeeper Batter,{},NaN,One of Bangladesh's longest-serving and most a...
6,Mehidy Hasan Miraz,Australia,Right hand Bat,Allrounder,{},Right arm Offbreak,Mehedi Hasan Miraz has emerged as one of the b...
7,Nasum Ahmed,Australia,Left hand Bat,Bowler,{},Slow Left arm Orthodox,NaN
8,Mahedi Hasan,Australia,Right hand Bat,Allrounder,{},Right arm Offbreak,By the time Mahedi Hasan earned his maiden ODI...
9,Taskin Ahmed,Australia,Left hand Bat,Bowler,{},Right arm Fast,Even before he was anywhere near making his in...

In [66]:
df_players[df_players['team'] == 'India']

,name,team,battingStyle,playingRole,input,bowlingStyle,description
20,Rahmanullah Gurbaz,India,Right hand Bat,Wicketkeeper Batter,{},NaN,NaN
21,Ibrahim Zadran,India,Right hand Bat,Opening Batter,{},Right arm Medium fast,NaN
22,Rahmat Shah,India,Right hand Bat,Allrounder,{},Legbreak Googly,NaN
23,Hashmatullah Shahidi(c),India,Left hand Bat,Top order Batter,{},Right arm Offbreak,Hashmatullah Shaidi is a young left-handed bat...
24,Azmatullah Omarzai,India,Right hand Bat,Allrounder,{},Right arm Medium fast,NaN
...,...,...,...,...,...,...,...
512,Mahmudullah,India,Right hand Bat,Allrounder,{},Right arm Offbreak,An allrounder who bowls tidy offspin and bats ...
513,Nasum Ahmed,India,Left hand Bat,Bowler,{},Slow Left arm Orthodox,NaN
514,Mustafizur Rahman,India,Left hand Bat,Bowler,{},Left arm Fast medium,Mustafizur Rahman is a left-arm pace bowler wh...
515,Shoriful Islam,India,Left hand Bat,Bowler,{},Left arm Medium fast,"At 6ft three inches, Shoriful Islam became a l..."
527,Hasan Mahmud,India,Right hand Bat,Bowler,{},Right arm Fast medium,Hasan Mahmud is one among a group of young pac...

In [67]:
df_players.to_csv('json files/dim_players_no_images.csv', index = False)